<%= form_for([@post, @comment]) do |form| %>

  <div class="field">
    <%= form.label :'Text of comment' %>
    <%= form.text_area :body, class:"form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit :'Add Comment', class:"btn btn-warning"%>
  </div>
  <br>
  <% end %>
